* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    color: #333;
    background: #fff;
    font-family: "Source Sans Pro", "Calibri", "Arial", sans-serif;
}

h1 {
    font-family: "Rozha One", serif;
}

ul, ol, p {
    line-height: 1.5;
    margin-left: 0;
    padding-left: 20px;
}

.container {
    max-width: 58rem;
    margin: 0 auto;
}

.accent {
    color: #FFDE7D;
    color: #00B8A9;
}

.red {
    color: red;
    text-decoration: none;
}

.subtitle {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.console {
    color: #eee;
    background: #333;
    padding: 20px;
}

.small {
    font-size: 0.8rem;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}